p {
    font-family: 'Press Start 2P', cursive;
font-family: 'Tangerine', cursive;
    font-size: 2rem;
}

h2,
h3,
h1 {
    font-family: 'Press Start 2P', cursive;
font-family: 'Tangerine', cursive;
    font-size: 4rem;
}

iframe {
    width: auto;

}

body {
    background: rgb(163,161,199);
background: linear-gradient(90deg, rgba(163,161,199,1) 0%, rgba(240,184,110,1) 13%, rgba(215,207,207,1) 100%);
  }

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
